[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"

[dev-packages]
factory = {editable = true, path = "."}
pyinstaller = "*"

[requires]
python_version = "3.6"
